[submodule "auto-assign-pr-reusable-workflow"]
	path = auto-assign-pr-reusable-workflow
	url = git@github.com:NathanaelGandhi/auto-assign-pr-reusable-workflow.git
[submodule "clang-format-check-reusable-workflow"]
	path = clang-format-check-reusable-workflow
	url = git@github.com:NathanaelGandhi/clang-format-check-reusable-workflow.git
[submodule "release-drafter-reusable-workflow"]
	path = release-drafter-reusable-workflow
	url = git@github.com:NathanaelGandhi/release-drafter-reusable-workflow.git
[submodule "stale-reusable-workflow"]
	path = stale-reusable-workflow
	url = git@github.com:NathanaelGandhi/stale-reusable-workflow.git
[submodule "pr-size-labeler-reusable-workflow"]
	path = pr-size-labeler-reusable-workflow
	url = git@github.com:NathanaelGandhi/pr-size-labeler-reusable-workflow.git
